body {
  font-family: Arial, sans-serif;
  background: #fff0f6;
  color: #333;
  margin: 0;
  padding: 0;
}
h1 {
  color: #c78ea6;
  text-align: center;
  padding: 20px;
}
nav{
color: #af3e8d;
    text-align: center;
    padding: 20px;
    font-style: italic;
    background: #c26ea9;
    font-family: 'Courier New', Courier, monospace;
}











